<a href="https://colab.research.google.com/github/natashamazur/pythonlabs/blob/main/LAST_LABA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Прочитать файл CSV и перевести его в DataFrame
'https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv'

In [2]:
import tempfile
import requests
url = 'https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv'
r = requests.get(url)
tf = tempfile.NamedTemporaryFile()
tf.write(bytes(r.text, 'utf=8'))
tf.flush()
z = pd.read_csv(tf.name)
print(z)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Прочитать файл CSV (определенные столбцы и определенное кол-во строк) и перевести его в DataFrame
'Name', 'Sex', 'Survived'

In [3]:
cols = ['Name', 'Sex', 'Survived']
row_cnt = 5
z = pd.read_csv(tf.name, usecols=['Name', 'Sex', 'Survived'], nrows=row_cnt)
print(z)

   Survived                                               Name     Sex
0         0                            Braund, Mr. Owen Harris    male
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2         1                             Heikkinen, Miss. Laina  female
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4         0                           Allen, Mr. William Henry    male

Прочитать файл CSV и перевести каждую 100-ую строку в DataFrame

In [4]:
z = pd.read_csv(tf.name, skiprows=lambda x: x != 0 and (x % 100) != 0)
print(z)

   PassengerId  Survived  Pclass  ...      Fare    Cabin  Embarked
0          100         0       2  ...   26.0000      NaN         S
1          200         0       2  ...   13.0000      NaN         S
2          300         1       1  ...  247.5208  B58 B60         C
3          400         1       2  ...   12.6500      NaN         S
4          500         0       3  ...    7.7958      NaN         S
5          600         1       1  ...   56.9292      A20         C
6          700         0       3  ...    7.6500    F G63         S
7          800         0       3  ...   24.1500      NaN         S

[8 rows x 12 columns]

Преобразовать индексы объекта Series в столбец DataFrame

In [5]:
np_values = np.arange(20)
pd_values = pd.Series(np_values, index=np_values*10)
df_values = pd.DataFrame(pd_values.index)
print(df_values)

      0
0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
10  100
11  110
12  120
13  130
14  140
15  150
16  160
17  170
18  180
19  190

Посмотреть информацию объекта DataFrame

In [6]:
print('Информация объекта DataFrame:')
print(df_values.info)

Информация объекта DataFrame:
<bound method DataFrame.info of       0
0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
10  100
11  110
12  120
13  130
14  140
15  150
16  160
17  170
18  180
19  190>

Вывести формат каждого столбца

In [7]:
print('Формат каждого столбца:')
print(df_values.dtypes)

Формат каждого столбца:
0    int64
dtype: object

Вывести размерность DataFrame

In [8]:
print('Размерность DataFrame:')
print(df_values.shape)

Размерность DataFrame:
(20, 1)

Вывести общую статистика

In [9]:
print('Общая статистика DataFrame')
print(df_values.describe())

Общая статистика DataFrame
                0
count   20.000000
mean    95.000000
std     59.160798
min      0.000000
25%     47.500000
50%     95.000000
75%    142.500000
max    190.000000