<a href="https://colab.research.google.com/github/natashamazur/pythonlabs/blob/main/pandaslab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Получить от объекта Series показатели описательной статистики

In [2]:
state = np.random.RandomState(42)
 
s = pd.Series(state.normal(10, 5, 25))
pkz = s.describe()
print(pkz)

count    25.000000
mean      9.182460
std       4.782765
min       0.433599
25%       7.188562
50%       8.829315
75%      12.483571
max      17.896064
dtype: float64

Узнать частоту уникальных элементов объекта Series (гистограмма)

In [3]:
data = 'abcdefghik'
len_series = 30
s = pd.Series(np.take(list(data), np.random.randint(len(data), size=len_series)))
print(s)
# считаем число вхождений
ans = s.value_counts()
 
print(ans)

0     e
1     e
2     a
3     c
4     b
5     e
6     d
7     g
8     h
9     e
10    g
11    k
12    c
13    h
14    h
15    a
16    k
17    c
18    g
19    g
20    h
21    d
22    f
23    c
24    e
25    g
26    b
27    h
28    f
29    g
dtype: object
g    6
h    5
e    5
c    4
k    2
b    2
d    2
a    2
f    2
dtype: int64

Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [4]:
state = np.random.RandomState(42)
s = pd.Series(state.randint(low=1, high=5, size=[13]))
print(s.value_counts())
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

3    7
1    3
4    2
2    1
dtype: int64
0         3
1     Other
2         1
3         3
4         3
5     Other
6         1
7         1
8         3
9     Other
10        3
11        3
12        3
dtype: object

Создать объект Series в индексах дата каждый день 2018 года, в значениях случайное значение

In [5]:
dti = pd.date_range(start='2018-01-01', end='2018-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2018-01-01    0.386633
2018-01-02    0.204945
2018-01-03    0.386405
2018-01-04    0.786505
2018-01-05    0.816991
                ...
2018-12-25    0.241069
2018-12-26    0.532799
2018-12-27    0.418817
2018-12-28    0.067683
2018-12-31    0.252656
Freq: B, Length: 261, dtype: float64

Найдем сумму всех вторников

In [6]:
ans1 = s[s.index.weekday == 2].sum()
print('Сумма всех "вторников"', ans1)

Сумма всех "вторников" 26.55707194156085

Для каждого месяца среднее значение

In [7]:
ans2 = s.resample('M').mean()
print('Средние значения по месяцам:\n', ans2)

Средние значения по месяцам:
 2018-01-31    0.600560
2018-02-28    0.519174
2018-03-31    0.551338
2018-04-30    0.463576
2018-05-31    0.479567
2018-06-30    0.534282
2018-07-31    0.634159
2018-08-31    0.534627
2018-09-30    0.654060
2018-10-31    0.517582
2018-11-30    0.504486
2018-12-31    0.499324
Freq: M, dtype: float64

Преобразовать объект Series в DataFrame заданной формы (shape)

In [8]:
s = pd.Series(np.random.randint(low=1, high=10, size=[35]))
print(s)

0     4
1     3
2     3
3     3
4     1
5     5
6     9
7     2
8     7
9     2
10    6
11    6
12    1
13    2
14    7
15    2
16    6
17    4
18    9
19    1
20    4
21    9
22    6
23    7
24    6
25    1
26    3
27    8
28    6
29    4
30    7
31    9
32    1
33    1
34    4
dtype: int64

Преобразование в reshape

In [9]:
r = (7, 5)
 
if r[0] * r[1] != len(s):
    sys.exit('не возможно применить reshape')
    
df = pd.DataFrame(s.values.reshape(r))
 
print(df)

   0  1  2  3  4
0  4  3  3  3  1
1  5  9  2  7  2
2  6  6  1  2  7
3  2  6  4  9  1
4  4  9  6  7  6
5  1  3  8  6  4
6  7  9  1  1  4

Найти индексы объекта Series кратные 3

In [10]:
s = pd.Series(np.random.randint(low=1, high=10, size=[7]))
print(s)
 
ans2 = s[s % 3 == 0].index
print(ans2)

0    9
1    1
2    4
3    1
4    8
5    1
6    4
dtype: int64
Int64Index([0], dtype='int64')

Получить данные по индексам объекта Series

In [11]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
p = [0, 4, 8, 14, 20, 10]
 
ans1 = s[p]
print(ans1)

0     a
4     e
8     i
14    o
20    u
10    k
dtype: object

Объединить два объекта Series вертикально и горизонтально

In [12]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
 
ans_vertical = s1.append(s2)
ans_horizontal = pd.concat([s1, s2], axis=1)
 
print(ans_vertical)
print(ans_horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [13]:
s1 = pd.Series([5, 3, 2, 1, 4, 11, 13, 8, 7])
s2 = pd.Series([1, 5, 13, 2])

ans3 = s1[s1.isin(s2)].index
print(ans3)

Int64Index([0, 2, 3, 6], dtype='int64')

Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [14]:
s = pd.Series(np.random.randint(low=1, high=10, size=[10]))
print(s)
ans = pd.Series(s.unique())
print(ans)

0    3
1    2
2    4
3    1
4    4
5    7
6    8
7    3
8    2
9    4
dtype: int64
0    3
1    2
2    4
3    1
4    7
5    8
dtype: int64

Преобразовать каждый символ объекта Series в верхний регистр

In [15]:
s = pd.Series(['life', 'is', 'interesting'])
ans2 = pd.Series(i.upper() for i in s)
print(ans2)

0           LIFE
1             IS
2    INTERESTING
dtype: object

Преобразование данных Series в строку

In [16]:
a = pd.Series(np.arange(5))
print(a)
s = pd.Series(str(i) for i in a)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: object

Рассчитать количество символов в объекте Series

In [17]:
s = pd.Series(['one', 'two', 'three', 'four', 'five'])
ans2 = np.asarray([len(i) for i in s])
print(ans2)

[3 3 5 4 4]

Преобразование в строковый тип

In [18]:
a = pd.Series(np.arange(5))
print(a)
s = pd.Series(str(i) for i in a)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: object

Найти разность между объектом Series и смещением объекта Series на n

In [19]:
n = 1
 
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
 
ans = s.diff(periods=n)
 
print(ans)

0    NaN
1    4.0
2    2.0
3    1.0
4    4.0
5    3.0
6    2.0
dtype: float64

Преобразовать разыне форматы строк объекта Series в дату

In [20]:
s = pd.Series(['2017/01/01', '2015-02-02', '15 Jan 2019'])
 
ans = pd.to_datetime(s)
 
print(ans)

0   2017-01-01
1   2015-02-02
2   2019-01-15
dtype: datetime64[ns]

Поскольку работа с датой часто встречается в работе, то см. еще один пример

In [21]:
# все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)
s = pd.Series(['14.02.2019', '22.01.2019', '01.03.2019'])
 
# преобразование в дату
ans = pd.to_datetime(s, format='%d.%m.%Y')
 
print(ans)

0   2019-02-14
1   2019-01-22
2   2019-03-01
dtype: datetime64[ns]

Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [22]:
from dateutil.parser import parse
 
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])
 
# парсим в дату и время
s_ts = s.map(lambda x: parse(x, yearfirst=True))
 
# получаем года
print(s_ts.dt.year)
 
# получаем месяца
print(s_ts.dt.month)
 
# получаем дни
print(s_ts.dt.day)
 
# получаем номер недели
print(s_ts.dt.isocalendar().week)
 
# получаем номер дня в году
print(s_ts.dt.dayofyear)

0    2018
1    2011
2    2012
3    2013
4    2018
dtype: int64
0     1
1     2
2     3
3     4
4    12
dtype: int64
0     1
1     2
2     3
3     4
4    31
dtype: int64
0     1
1     5
2     9
3    14
4     1
Name: week, dtype: UInt32
0      1
1     33
2     63
3     94
4    365
dtype: int64

Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [23]:
from collections import Counter
 
s = pd.Series(['Яблоко', 'Orange', 'Plan', 'Python', 'Апельсин', 'Стол', 'Reliance'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)
ans = s[mask]
print(ans)

0      Яблоко
1      Orange
4    Апельсин
6    Reliance
dtype: object

Отобрать e-маилы из объекта Series

In [24]:
# модуль для работы с регулярными выражениями
import re
 
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@pp'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[mask]
print(ans)

1    test@mail.ru
dtype: object

Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [25]:
n = 10
s1 = pd.Series(np.random.choice(['dog', 'cat', 'horse', 'bird'], n))
print(s1)
s2 = pd.Series(np.arange(n))
print(s2)
ans = s2.groupby(s1).mean()
print(ans)

0     bird
1      dog
2    horse
3      cat
4     bird
5      dog
6    horse
7    horse
8      cat
9      dog
dtype: object
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
bird     2.0
cat      5.5
dog      5.0
horse    5.0
dtype: float64