Импортировать модули sys numpy pandas

In [1]:
import sys
import numpy as np
import pandas as pd

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [2]:
src_list = list('abcde')
src_arr = np.arange(5)
src_dict = dict(zip(src_list, src_arr))

s1 = pd.Series(src_list)
s2 = pd.Series(src_arr)
s3 = pd.Series(src_dict)

print(s1)
print(s2)
print(s3)

0    a
1    b
2    c
3    d
4    e
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
d    3
e    4
dtype: int64

создать объект Series

In [3]:
s = pd.Series({'a': 'one', 'b': 'two', 'c': 'three'})

преобразовать в DataFrame

In [4]:
s = s.to_frame()
print(s)

       0
a    one
b    two
c  three

объединить несколько объектов Series в Dataframe

In [5]:
s1 = pd.Series(list('abcdefghij'))
s2 = pd.Series(np.arange(10))
df = pd.concat([s1, s2], axis=1)
print(df)

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4
5  f  5
6  g  6
7  h  7
8  i  8
9  j  9

Присвоить имя индексу объекта Series

In [6]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
s.name = 'my_name'
print(s)

a    1
b    2
c    3
Name: my_name, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B

In [7]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

возвратить вместе с индексами

In [8]:
ans = s1[~s1.isin(s2)]
print(ans)

0    1
1    2
2    3
dtype: int64

возвратить значения

In [9]:
ans2 = np.setdiff1d(s1, s2, assume_unique=False)
print(ans2)

[1 2 3]

получить объединенный Series без повтороений

In [10]:
s_union = pd.Series(np.union1d(s1, s2))
print(s_union)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

получить пересекающиеся данные

In [11]:
s_intersect = pd.Series(np.intersect1d(s1, s2))
print(s_intersect)

0    4
1    5
dtype: int64

отобрать все данные, кроме пересекающихся

In [12]:
ans = s_union[~s_union.isin(s_intersect)]
print(ans)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

возвратить значения

In [13]:
ans2 = np.setxor1d(s1, s2, assume_unique=False)
print(ans2)

[1 2 3 6 7 8]